<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quem Somos</title>
</head>
<body id="quemSomos">
    <nav>
        <article>
            <img id="logo" src="../img/game-of-thrones-logo.webp" alt="">
            <h1>
                <a href="/">Catalogo game of thrones</a>
            </h1>
        </article>
        <ul>
            <ul>
                <li id="home">
                    <a href="/">Home</a>
                </li>
                <li id="cadastro">
                    <a href="/criar">Criar novo personagem</a>
                </li>
                
            </ul>
        </ul>
    </nav>
    <header>
        <h1>Quem Somos</h1>
    </header>
    <section class="somos">
        <div class="card2" id="qs" >
            
            <h3 >  
                <a href="https://github.com/cegalvao92">         
                <img  src="https://th.bing.com/th/id/OIP.eTCbdR_AFzbqHMPXhrJWUQHaEK?w=311&h=180&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a>                
            
                 
            </h3>
            
            <h3 >
                <a href="https://www.linkedin.com/in/carlos-eduardo-lima-galv%C3%A3o-a92707174/">
                
                <img src="https://th.bing.com/th/id/OIP._exLnzeoEBW0phCAaZG4IAHaHa?w=217&h=217&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a> 

            </h3>

            <h3 >
                <a href="https://www.instagram.com/cegalvao92/">                  
                
                <img src="https://th.bing.com/th/id/OIP.FeiwIhdK4TXLrzd8lVqm7wHaHa?w=217&h=217&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a> 
            </h3>

            <img src="../img/foto.jpg">

        </div>
    
        <div class="card2" id="qs">
            <h3 >  
                <a href="https://github.com/johnicassere?tab=repositories">         
                <img  src="https://th.bing.com/th/id/OIP.eTCbdR_AFzbqHMPXhrJWUQHaEK?w=311&h=180&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a>
                
            
                 
            </h3>
            
            <h3 >
                <a href="http://linkedin.com/in/johni-cassere">
                
                <img src="https://th.bing.com/th/id/OIP._exLnzeoEBW0phCAaZG4IAHaHa?w=217&h=217&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a> 

            </h3>

            <h3 >
                <a href="https://www.instagram.com/johnicassere/">                  
                
                <img src="https://th.bing.com/th/id/OIP.FeiwIhdK4TXLrzd8lVqm7wHaHa?w=217&h=217&c=7&r=0&o=5&pid=1.7" width= "90rem";
                height= "80rem";>
                </a> 
            </h3>

            <img src="../img/foto1.jpg" width="150rem" height="150rem">

        </div>

    </section>
</body>
</html>